<section>

    <div class="card mb-12">
        <div class="row g-0">

            <!-- hotel image -->
            <div class="col-md-4">
                <img src="{{ hotel.image }}" alt="..." class="img-fluid" title="{{ hotel.name }}" />
            </div>

            <!-- hotel description -->
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.name }}</h5>
                    <p class="card-text">
                        {{ hotel.address }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>