<section>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <div style="margin-top: 40%; font-size: xx-large;">
            <div style="margin-left: 20%;">
                <mdb-icon fas icon="ghost"></mdb-icon> Are you lost!!! <span class="caret"></span><mdb-icon fas icon="ghost"></mdb-icon>
            </div>
            <br>
            <div>
                <a class="nav-link waves-light" type="button" routerLink="" routerLinkActive="active current"
                        mdbWavesEffect>
                    <mdb-icon fas icon="home"></mdb-icon> Lets get you home. Click me <span class="caret"></span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>