<div class="container container-main">
    <form [formGroup]="signUpForm" class="text-center border border-light p-5" (ngSubmit)="signUp()">
    
        <p class="h4 mb-4">Sign up</p>
        
        <div class="form-row mb-4">

            <!-- First Name -->
            <div class="input-group col mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-3 border-md border-right-0">
                        <i class="fa fa-id-card text-muted"></i>
                    </span>
                </div>
                <input type="text" id="firstName" name="firstName" title="First Name" class="form-control" placeholder="First name"
                    formControlName="firstName" required>
                <div *ngIf="frm.firstName.invalid && frm.firstName.errors?.required" class="invalid-feedback">
                    First Name is required
                </div>
            </div>

            <!-- Last Name -->
            <div class="input-group col mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-3 border-md border-right-0">
                        <i class="fa fa-id-card text-muted"></i>
                    </span>
                </div>
                <input type="text" id="lastName" name="lastName" title="Last Name" class="form-control" placeholder="Last name"
                formControlName="lastName" required>
            </div>

            <!-- Email-->
            <div class="input-group col-lg-15 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-3 border-md border-right-0">
                        <i class="fa fa-envelope text-muted"></i>
                    </span>
                </div>
                <input type="email" id="email" name="email" title="Email" class="form-control" placeholder="E-mail"
                formControlName="email" required>
            </div>
            <div *ngIf="frm.email.invalid && (frm.email.dirty || frm.email.touched || submitted) && frm.email.errors?.email" class="alert alert-danger">
                Email must be a valid email address
            </div>

            <!-- Password-->
            <div class="input-group col-lg-15 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-3 border-md border-right-0">
                        <i class="fa fa-key text-muted"></i>
                    </span>
                </div>
                <input type="password" id="password" name="password" title="Password" class="form-control" placeholder="Password"
                formControlName="password" required>
            </div>
            <div *ngIf="frm.password.invalid && (frm.password.dirty || frm.password.touched || submitted) && frm.password.errors?.minlength" class="alert alert-danger">
                Password needs to be of 8 minimum length
            </div>

            <!-- Confirm Password-->
            <div class="input-group col-lg-15 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-3 border-md border-right-0">
                        <i class="fa fa-key text-muted"></i>
                    </span>
                </div>
                <input type="password" id="matchingPassword" name="matchingPassword" title ="Confirm Password" class="form-control" placeholder="Confirm Password"
                formControlName="matchingPassword" required>
            </div>
            <div *ngIf="frm.matchingPassword.dirty || frm.matchingPassword.touched || submitted">
                <div *ngIf="frm.matchingPassword.invalid && frm.matchingPassword.errors?.required" class="alert alert-danger">
                    Confirm Password is required
                </div>
                <div *ngIf="frm.password.value != frm.matchingPassword.value" class="alert alert-danger">
                    Password & Confirm password does not match
                </div>
            </div>

            <!-- Phone-->
            <div class="input-group col-lg-15 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-3 border-md border-right-0">
                        <i class="fa fa-phone text-muted"></i>
                    </span>
                </div>
                <input type="text" id="phoneNumber" name="phoneNumber" title="Phone number" class="form-control" placeholder="Phone number"
                formControlName="phoneNumber">
            </div>

            <!-- Date of Birth-->
            <div class="input-group col mb-4">
                <fieldset class="fieldset">
                    <legend>Date of Birth</legend>
                    <input type="date" id="dob" name="dob" title="Date of Birth" class="form-control"  placeholder="Date of Birth"
                    formControlName="dob">
                </fieldset>
            </div>

            <!-- Gender -->
            <div class="input-group col mb-4">
                <fieldset class="fieldset">
                    <legend>Gender</legend>
                    <select id="gender" name="gender" title="gender" class="form-control" formControlName="gender">
                        <option id="r" value="R">Rather Not Say</option>
                        <option id="m" value="M">Male</option>
                        <option id="f" value="F">Female</option>
                        <option id="o" value="O">Others</option>
                    </select>
                </fieldset>
            </div>

            <!-- Address -->
            <div class="input-group col-lg-15 mb-4">
                <fieldset class="address-fs">
                    <legend>Address</legend>
                    <input type="text" id="addressLine1" name="addressLine1" title="Address Line 1" class="form-control" placeholder="Address Line 1"
                    formControlName="addressLine1">
                    <br>
                    <input type="text" id="addressLine2" name="addressLine2" title="Address Line 2" class="form-control" placeholder="Address Line 2"
                    formControlName="addressLine2">
                    <br>
                    <select name="city" id="city">
                        <option value="" [ngValue]>Select City</option>
                        <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.name }}</option>
                    </select>
                    <br>
                    
                    <br>

                </fieldset>
            </div>

        </div>
    
        <!-- Sign up button -->
        <button
            class="btn btn-lg btn-primary btn-block btn-signUp text-uppercase font-weight-bold mb-2"
            [disabled] = "isLoading"
            type="submit">
            <span *ngIf="isLoading"><i class="fas fa-spinner"></i></span>
            Sign Up
        </button>
    
        <hr>
    
        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em>, you agree to our
            <a href="" target="_blank">terms of service</a>
        </p>
    
    </form>
</div>