<section>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <div style="margin-top: 40%; font-size: xx-large;">
            <div style="margin-left: 20%;">
              <i class="fas fa-ghost"></i> Are you lost!!! <span class="caret"></span><i class="fas fa-ghost"></i>
            </div>
            <br>
            <div>
                <a class="nav-link waves-light" type="button" routerLink="" routerLinkActive="active current">
                  <i class="fas fa-home"></i> Lets get you home. Click me <span class="caret"></span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>