<div class="container">
    <div class="row no-gutter">
            <div class="login d-flex align-items-center">
                <div class="container">
                    <div class="row" >
                        <div class="mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <form>
                                <!-- Email Address -->
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-envelope text-muted"></i>
                                        </span>
                                    </div>
                                    <input id="email" type="email" name="email" placeholder="Email Address"
                                        class="form-control bg-white border-left-0 border-md">
                                </div>

                                <!-- Password -->
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-lock text-muted"></i>
                                        </span>
                                    </div>
                                    <input id="password" type="password" name="password" placeholder="Password"
                                        class="form-control bg-white border-left-0 border-md">
                                </div>

                                <!-- Remenber Me -->
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>

                                <!-- Submit Button -->
                                <div class="form-group col-lg-12 mx-auto mb-0">
                                    <a href="#" class="btn btn-primary btn-block py-2">
                                        <span class="font-weight-bold">Create your account</span>
                                    </a>
                                </div>
                                <br>
                                <button
                                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    type="submit">Sign in</button>
                                <div class="text-center">
                                    <a class="small" href="#">Forgot password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>