<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-blue">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="/">Gagan</a>
        </div>

        <!-- Collapsible contents -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link waves-light" type="button" routerLink="home" routerLinkActive="active current">
                        <i class="fas fa-home"></i> Home<span class="caret"></span>
                    </a>
                </li>

                <!-- About Us -->
                <li class="nav-item">
                    <a class="nav-link waves-light" type="button" routerLink="aboutus"
                        routerLinkActive="active current">
                        <i class="fas fa-address-card"></i> About Us<span class="caret"></span>
                    </a>
                </li>

                <!-- Contact Us -->
                <li class="nav-item">
                    <a class="nav-link waves-light" type="button" routerLink="contactus"
                        routerLinkActive="active current">
                        <i class="fas fa-envelope-open"></i> Contact Us<span class="caret"></span>
                    </a>
                </li>

                <!-- Login -->
                <li class="nav-item" *ngIf="!authSvc.isLoggedIn()">
                    <a class="nav-link waves-light" type="button" routerLink="account/login"
                        routerLinkActive="active current">
                        <i class="fas fa-sign-in-alt"></i> Login<span class="caret"></span>
                    </a>
                </li>

                <!-- Account Profile -->
                <li class="nav-item dropdown" dropdown *ngIf="authSvc.isLoggedIn()">
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Profile<span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary cyan" role="menu"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item nav-link waves-light cyan" routerLink="account/settings"
                            routerLinkActive="active current">
                            <i class="fas fa-user-circle"></i> My Account<span class="caret"></span>
                        </a>
                        <a class="dropdown-item nav-link waves-light cyan" (click)="logout()">
                            <i class="fas fa-sign-out-alt"></i> Log out<span class="caret"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>